<main class="m-3">
  <h1>About this project</h1>
  <p>Some people asked for me an "Authorization" project and i made this project in a week</p>
  <p>You can check the codes from <%= link_to "here.", "https://github.com/Tarbetu/authentication_project" %>
  <p>Anyway, you can check this page: <%= link_to "click.", "https://stevepolito.design/blog/rails-authentication-from-scratch" %></p>
</main>
