<main class="d-flex align-items-center flex-column position-absolute start-50 top-50 translate-middle">
  <h1 class="fw-light text-decoration-underline">Welcome To Authorization Project!</h1>
  <p>You must authorize yourself or... else!</p>
  <%= link_to "Authorize!", new_users_path, class: "btn btn-primary" %>
</main>
