<h1>Don't worry.</h1>

<p>Maybe there is no cure for demantia but you can slow it's process</p>

<p>Wait, can you still remember why you request this email?</p>

<%= link_to "Just reset your password", edit_passwords_url(@password_reset_token) %>
