<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <%= link_to "AuthP", root_path, class: "navbar-brand" %>

    <button 
        class="navbar-toggler" type="button"
        data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div id="navbarNav" class="sticky-top collapse navbar-collapse justify-content-between">
      <ul class="navbar-nav d-flex align-items-center">
        <li class="nav-item d-flex">
          <%= link_to "All posts", posts_path, class: "nav-link" %>
        </li>
        <li class="nav-item d-flex">
          <%= link_to "Login", new_sessions_path, class: "nav-link" %>
        </li>
      </ul>
      <%= link_to "Register", new_users_path,
        class: "btn btn-secondary d-flex"
      %>
    </div>

  </div>
</nav>
