<div id="<%= modal_id %>" class="modal fade" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <%= turbo_frame_tag action_id, src: action_path %>
      </div>
    </div>
  </div>
</div>
