<div class="roles">
  <% @roles.find_each do |role| %>
    <%= turbo_frame_tag dom_id(role), src: edit_role_path(role), "data-turbo-frame": "_top" %>
  <% end %>
  <% if @roles.empty? %>
    <em>Role does not found</em>
  <% end %>
</div>
